@use "./assets/icons/arrowDown.scss" as icons;

.accordion {
  color: #19212c;
}

.summary {
  position: relative;
  margin: 0;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 16px;
    transform: translateY(-12px);
    background-image: url(icons.$arrowDown);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.summaryBtn {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 0;
  padding-right: 56px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 21px;
  line-height: 1.45;
  letter-spacing: -0.04em;
  @include mixins.hoverArea(100%, 48px);
}

.accordionOpen .summary::after {
  transform: translateY(-12px) rotate(180deg);
}

.details {
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.detailsInner {
  padding-top: 24px;

  & > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media (max-width: breakpoints.$sm) {
  .details {
    font-size: 14px;
  }
}
