.section {
  padding-top: 208px;
  padding-bottom: 232px;
  background: linear-gradient(180deg, #fffbe5 0%, colors.$surface 100%);
  overflow: hidden;
}

.container {
  position: relative;
}

.title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 73px;
  font-family: "Inter", sans-serif;
  line-height: 1;
  letter-spacing: -0.04em;
  color: colors.$text-primary;
  max-width: 704px;

  span {
    color: colors.$blue;
  }
}

.subtitle {
  font-size: 21px;
  line-height: 1.45;
  margin: 0;
  padding-bottom: 86px;
  max-width: 392px;
}

.input {
  position: relative;
  z-index: 2;
  max-width: 395px;
}

.iconBtn {
  margin-right: 16px;
}

.imgWrapper {
  position: absolute;
  z-index: 1;
  width: 251px;
  height: 375px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img1Wrapper {
  top: 230px;
  left: 483px;
}

.img2Wrapper {
  top: 96px;
  left: 766px;
}

.img3Wrapper {
  bottom: 96px;
  left: 1050px;
}

@media (max-width: breakpoints.$lg) {
  .img3Wrapper {
    display: none;
  }
}

@media (max-width: breakpoints.$md) {
  .img2Wrapper {
    display: none;
  }
}

@media (max-width: breakpoints.$sm) {
  .section {
    padding-top: 117px;
    padding-bottom: 75px;
  }

  .title {
    font-size: 34px;
    line-height: 1.05;
  }

  .subtitle {
    font-size: 14px;
    line-height: 1.5;
    max-width: 195px;
  }

  .input {
    max-width: 327px;
  }

  .img1Wrapper {
    left: auto;
    right: -12px;
    top: 72px;
    width: 162px;
    height: 241px;
  }
}

@media (max-width: 370px) {
  .subtitle {
    max-width: 100%;
  }

  .input {
    margin: 0 auto;
  }

  .img1Wrapper {
    display: none;
  }
}
