@use "./assets/grayArrowTopRight.scss";
@use "./assets/whiteArrowTopRight.scss";

.button {
  padding: 12px 21px;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 48px;
  background-position: right;
}

.buttonYellow {
  background-color: colors.$yellow;
  background-image: url(grayArrowTopRight.$icon);
}

.buttonBlue {
  background-color: colors.$blue;
  background-image: url(whiteArrowTopRight.$icon);
}
