.modal {
  display: grid;
  place-items: center;
  padding: 8px;
}

.innerWrapper {
  min-width: 0;
  max-width: 330px;
  width: 100%;
}

.menu {
  position: relative;
  padding: 32px;
  color: colors.$text-primary;
  line-height: 1.05;

  background-color: #fff;
  border-radius: 12px;
}

.closeBtn {
  position: absolute;
  top: -76px;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  background-color: #f8f8f8;
  border-radius: 12px;
  display: grid;
  place-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(0.95);
  }
}

.title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 34px;
  letter-spacing: -0.04rem;
}

.navList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  li {
    text-align: center;
  }

  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 16px;
    height: 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 42px;
}

.authLink {
  min-width: 0;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 700;
  color: #19212c;
  text-decoration: none;
  @include mixins.hoverArea(max(48px, 100%), 48px);
}

.authLinkText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.authLinkImgWrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ededee;
  overflow: hidden;

  img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}

.hr {
  height: 1px;
  color: #b6b6b6;
  background: #b6b6b6;
  font-size: 0;
  border: 0;
  margin: 24px 0;
}

.langSwitcherWrapper {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: breakpoints.$sm) {
  .navList a {
    font-size: 14px;
  }
}
