.field {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
}
.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #19212c;
}

.subLabel {
  font-weight: 400;
  color: rgba(25, 33, 44, 0.42);
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 0.86px solid rgba(63, 71, 82, 0.32);
  border-radius: 12px;
  padding: 27px 0;
  cursor: pointer;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #262729;
}

.name {
  color: var(--text-brand);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
