.card {
  position: relative;
  display: flex;
  column-gap: 10px;
  padding: 8px;
  line-height: 1.5;
  font-size: 14px;
}

.cardImg {
  width: 80px;
  height: 101px;
  object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
}

.cardBody {
  flex-grow: 1;
}

.cardTitle {
  position: relative;
  z-index: 2;

  margin-top: 0;
  margin-bottom: 4px;
}

.subtitleRow {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.rating {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-right: 8px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.reviewsLink {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #777a80;
}

.middleRow {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 8px;

  svg {
    position: relative;
    z-index: 2;
    width: 58px;
    height: 8px;
  }

  span {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 12px;
    color: #777a80;
  }
}

.bottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #777a80;

  span {
    position: relative;
    z-index: 2;
  }
}

.duration {
  display: flex;
  align-items: center;
  column-gap: 4px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.link {
  position: absolute;
  z-index: 1;
  inset: 0;
}
