.overlay {
  position: fixed;
  inset: 0;
  transition: background-color 0.3s ease-out;
  visibility: hidden;
  z-index: 9998;
}

.overlayLight {
  background-color: rgba(255, 255, 255, 0);
}

.overlayDark {
  background-color: rgba(0, 0, 0, 0);
}

.overlayVisible {
  visibility: visible;

  &.overlayLight {
    background-color: rgba(255, 255, 255, 0.76);
  }

  &.overlayDark {
    background-color: rgba(0, 0, 0, 0.58);
  }

  & + .spinnerWrapper {
    visibility: visible;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerWrapper {
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: grid;
  place-items: center;
  visibility: hidden;
}

.spinner {
  width: 48px;
  height: 48px;
  border-width: 5px;
  border-style: solid;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.overlayLight + .spinnerWrapper .spinner {
  border-color: #2c2c2c;
}

.overlayDark + .spinnerWrapper .spinner {
  border-color: #fff;
}
