.topSection {
  padding-top: 96px;
  background-color: #fff;
  padding-bottom: 34px;
}

.breadcrumbs {
  margin-bottom: 24px;
}

.pageTitle {
  font-size: 36px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  margin-top: 0;
  text-align: center;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;

  svg {
    width: 44px;
    height: 44px;
  }
}

.subtitle {
  text-align: center;
  margin-top: 0;
  color: #3f4752;
  margin-bottom: 24px;
  font-size: 21px;
}

.mainSection {
  padding: 48px 0;
}

.container {
  display: flex;
  column-gap: 24px;
}

.aside {
  max-width: 280px;
  width: 100%;
  flex-shrink: 0;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  align-self: flex-start;
}

.asideTitle {
  font-size: 27px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: colors.$text-primary;
  margin-top: 0;
  margin-bottom: 32x;
}

.mainContent {
  flex-grow: 1;
  min-width: 0;
}

.selectCategoryTabletBtn {
  display: none;
  align-items: center;
  column-gap: 8px;
  color: #3044cc;
  font-weight: 700;
  line-height: 1.5;
  background-color: #fff;
  border: none;
  padding: 10px 16px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  margin-left: auto;
  margin-right: -24px;
  cursor: pointer;
  margin-bottom: 24px;

  svg {
    width: 16px;
    height: 16px;
  }
  svg path {
    fill: #3044cc;
  }
}

.closeSelectCategoryBtn {
  display: grid;
  place-items: center;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  min-height: 40px;
  background-color: #fff;
  cursor: pointer;
  font-weight: 700;
  color: #3044cc;
  margin-left: auto;
  margin-bottom: 8px;
}

.selectCategoryDrawer {
  width: 400px;
}

.row {
  margin-bottom: 48px;
}

.mainContent .row:last-of-type {
  margin-bottom: 0;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 32px;
}

.rowTitle {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 27px;
  line-height: 1;
  letter-spacing: -0.04em;
  margin: 0;

  svg {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
  }
}

.seeAllLink {
  flex-shrink: 0;
  position: relative;
  padding: 8px 16px;
  background-color: #fff;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  color: colors.$text-primary;
  border-radius: 12px;
  @include mixins.hoverArea(100%, 48px);
}

.cardsRow {
  display: flex;
  column-gap: 24px;
  overflow-x: auto;
}

.errText {
  margin: 0;
  color: colors.$error;
}

@media (max-width: breakpoints.$lg) {
  .aside {
    display: none;
  }

  .selectCategoryTabletBtn {
    display: flex;
  }
}

@media (max-width: breakpoints.$sm) {
  .topSection {
    padding-top: 89px;
    padding-bottom: 24px;
  }

  .pageTitle {
    font-size: 34px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .subtitle {
    font-size: 14px;
  }

  .mainSection {
    padding: 32px 0;
  }

  .selectCategoryTabletBtn {
    margin-right: -16px;
  }

  .rowTitle {
    font-size: 25px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
